{% block content %}
<aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar" id="burger">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div class="profile">
          <img src="{% if user.profile_pic %}{{user.profile_pic.url}}{% else %}https://gimgs2.nohat.cc/thumb/f/640/male-face-icon-default-profile-image--c3f2c592f9.jpg{% endif %}" alt="Image" class="img-fluid">
          <h3 class="name" style="color:white">{{user.name}}</h3>
          <span class="country">Daffodil International University</span>
        </div>

        <div class="counter d-flex justify-content-center">
          <!-- <div class="row justify-content-center"> -->
            <div class="col">
              <strong class="number" id="uploads"></strong>
              <span class="number-label">Uploads</span>
            </div>
            <div class="col">
              <strong class="number" id="downloads"></strong>
              <span class="number-label">Downloads</span>
            </div>
          <!-- </div> -->
        </div>
        
        <div class="nav-menu">
          <ul>
            <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}"><span class="icon-home mr-3"></span>Dashboard</a></li>
            <li class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><a href="{% url 'profile' %}"><span class="icon-person mr-3"></span>Profile</a></li>
            <li class="{% if request.resolver_match.url_name == 'contribute' %}active{% endif %}">
              <a href="{% url 'contribute' %}">
                <span><i class="bi bi-envelope-paper-heart mr-2"></i></span> Contribute
              </a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'leaderboard' %}active{% endif %}"><a href="{% url 'leaderboard' %}"><span class="icon-location-arrow mr-3"></span>Leaderboard</a></li>
            <li><a href="{% url 'sign_out' %}"><span class="icon-sign-out mr-3"></span>Sign out</a></li>
          </ul>
        </div>
      </div>
      
    </aside>
{% endblock content %}